.MovieDetailsContainer {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.button {
  min-width: 100px;
  margin-bottom: 16px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: var(--second-color);
  color: var(--text-color);
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background: var(--first-color);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  text-align: center;
  font-size: 32px;
  margin: 0 0 24px 0;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h4 {
  margin: 0 0 8px 0;
  font-style: italic;
  font-size: 16px;
}

p {
  margin: 0 0 16px 0;
  font-size: 12px;
}

.genresList {
  padding: 0;
  margin: 0 0 0 16px;
  list-style: circle;
}

.genresList li {
  margin-bottom: 8px;
  font-size: 12px;
}

.link {
  margin: 0 0 8px 0;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}
