.list {
  display: grid;
  width: auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 25px;
  justify-items: center;
  margin-top: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.item {
  background-color: var(--fourth-color);
  border-radius: 8px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s ease-out;
}

.item:hover {
  transform: translateY(10px);
}

.itemDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.itemDiv img {
  margin: 0;
  border-radius: 8px;
}

.link {
  text-decoration: none;
}

.link p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 150%;
  color: var(--text-color);
}

.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  min-width: 100px;
  margin-bottom: 16px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: var(--second-color);
  color: var(--text-color);
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background: var(--first-color);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
