:root {
  --first-color: #528e86;
  --second-color: #b7ced2;
  --third-color: #dcdde2;
  --fourth-color: #b1afac;
  --fifth-color: #636250;
  --text-color: #292923;
}

* {
  color: var(--text-color);
}

