:root {
  --first-color: #8b9dc3;
  --second-color: #dfe3ee;
  --third-color: #ffffff;
  --fourth-color: #f7f7f7;
  --text-color: #292923;
  --loader-color: #3b5998;
}

* {
  color: var(--text-color);
}
